{% extends 'todolist/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="center">todolist</h1>
        <p>simple todolist with django</p>

        <form action="todo_create" method="POST">{% csrf_token %}
            <input type="text" value="" name="title">
            <input type="submit">
        </form>

        {% for list in todolist %}
            <div>{{ list.title }}<a href="todo_delete/{{ list.pk }}" class="btn btn-outline-danger">X</a></div>
            <p>{{ list.created_date }}</p>

            <!-- Modal -->
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">삭제하시겠습니까?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                    <!-- <div class="modal-body">
                    ...
                    </div> -->
                    <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button> -->
                    <!-- <button type="button" class="btn btn-primary">YES</button> -->
                    <!-- <form action="todo_delete/{{ list.pk }}" method="POST">{% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="YES">
                    </form>
                    </div>
                </div>
                </div>
            </div> -->
        {% endfor %}
    </div>
{% endblock %}