{% extends 'todolist/base.html' %}

{% block content %}
    <div class="container text-center">
        <h1>ToDoList</h1>
        <p>simple todolist with django</p>

            <form action="todo_create" method="POST">{% csrf_token %}
                <div class="input-group mb-3">
                    <input class="form-control" placeholder="todo" type="text" value="" name="title">
                    <input class="btn btn-outline-secondary" type="submit" value="push">
                </div>
            </form>
      
        <div class="todo-container">
        {% for list in todolist %}
            <div class="todo-list">
                <span>{{ list.title }}</span>
                <a href="todo_delete/{{ list.pk }}" class="btn btn-outline-danger">X</a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}